aside {
  background: rgba(188,143,143,.8);
  font-size: 25px;
  text-align: center;
}
nav {
  background: rgba(188,143,143,.8);
}
header{
  background: rgba(28, 158, 152, 0.6);
  color: rgb(30,40,30);
}
footer{
  background: rgba(28, 158, 152, 0.6);
  color: rgb(30,40,30);
}
article { 
  background: rgba(255,228,196,.9);
  color: rgb(30,40,30);
}
.navlinks{
  font-size: 30px;
  color: rgb(30,40,30);
}
.navlinks:hover{
  color: white;
  font-size: 40px;
}
.dropdownlinks{
  font-size: 20px;
  color: rgb(30,40,30);
}
.dropdownlinks:hover{
  color: white;
  font-size: 25px;
}
header{
  font-size: 60px;
}
figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
figure figcaption {
   text-align: center;
   font-family: 'Roboto Slab', serif;
   font-size: 15px;
}
